@page "/admin"
<h3>Index</h3>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <NavLink href="@($"/listRoles")">List Roles</NavLink>
        </div>
        <div class="col-md-3">
            <NavLink href="@($"/listusers")">List Users</NavLink>
        </div>
    </div>
</div>

@code {

}
